<!DOCTYPE html>
<html>
    <head>
        <title>잡동사니</title>
    </head>
    <body>
        <h1> <%= @userName %> 님의 전적</h1>
        
        <p> <%= @win %>  승</p> </br>
        <p> <%= @lose %>  패</p>
    
    </body>
</html>